[Unit]
Description=geekshop daemon
After=network.target

[Service]
User=jo
Group=www-data
WorkingDirectory=/root//gshop
ExecStart=/usr/bin/gunicorn3 --access-logfile server.logs --workers 2 --bind unix:/root/gshop/geekshop.sock geekshop.wsgi

[Install]
WantedBy=multi-user.target